global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8084
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  bind *:80
  mode tcp
  stick-table type ip size 100k expire 30s store conn_rate(3s)
  tcp-request content track-sc0 src
  tcp-request content reject if { src_get_gpc0(myfrontend) gt 100 }
  tcp-request inspect-delay 5s
  #tcp-request content reject if HTTP
  default_backend webservers

backend webservers
  mode tcp
  balance roundrobin
  server s1 emoney_lb:80 check maxconn 10
  server s2 emoney_lb:80 check maxconn 10
  #server s2 14.225.255.209:8081 check maxconn 10
  #server s1 103.167.199.4:8081 check maxconn 10
